<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaCHZ3-FDiHWiNAVVtOv0t522oR7ttahs</string>
	<key>GCM_SENDER_ID</key>
	<string>144541545800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.palmernix.Newsletters</string>
	<key>PROJECT_ID</key>
	<string>newsletters-c8650</string>
	<key>STORAGE_BUCKET</key>
	<string>newsletters-c8650.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144541545800:ios:6dbc652e3b009b8ae72f7d</string>
</dict>
</plist>